<h1>Favorite Cities</h1>

<form action="/" method="post">
  <input type="text" name="city" value="city">
  <input type="text" name="state" value="state">
  <input type="submit" value="Submit">
</form>

<ul>
  <li>
    <% @cities.each do |city| %></li>
      <a href="/cities/<%= city.id %>/"><%= city.city %>, <%= city.state %></a>
    <% end %>
    </ul>


