<h1>Edit Favorite City</h1>
<form action="/cities/<%= @city.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="city" value="<%= @city.city %>">
  <input type="text" name="state" value="<%= @city.state %>">
  <input type="submit" value="Update">
</form>